In [5]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [7]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [10]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

1. loc:
   Label-based indexing**: `loc` is used to access a group of rows and columns by labels or a boolean array.
   Inclusive**: When you specify a range, both the start and end labels are included.
   Usage**: It is typically used when you want to access data using the index labels of the DataFrame.
   Example**: `df.loc[0:2]` will return rows with index labels 0, 1, and 2.

2. iloc:
   Integer-based indexing**: `iloc` is used to access a group of rows and columns by integer position (i.e., the numerical index).
   Exclusive**: When you specify a range, the end index is not included.
   Usage**: It is typically used when you want to access data using the integer position of the rows and columns.
   Example**: `df.iloc[0:2]` will return rows at integer positions 0 and 1, but not 2.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [26]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Accessing the data
loc_output = new_df.loc[2]
iloc_output = new_df.iloc[2]

print("Output of new_df.loc[2]:")
print(loc_output)
print("\nOutput of new_df.iloc[2]:")
print(iloc_output)

Output of new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output of new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Did you observe any difference in both the outputs? If so then explain it.
# Consider the below code to answer further questions:

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [21]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.843913  0.873696  0.257262  0.484365  0.271397  0.285975
2  0.921517  0.533950  0.522181  0.114467  0.501307  0.401109
3  0.425405  0.322570  0.676758  0.552211  0.423415  0.926520
4  0.318423  0.029763  0.194924  0.805284  0.298512  0.104705
5  0.696627  0.395688  0.605756  0.741732  0.832718  0.452822
6  0.161518  0.655600  0.418344  0.816576  0.717986  0.165087

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [35]:
df1.mean()

column_1    0.561234
column_2    0.468544
column_3    0.445871
column_4    0.585772
column_5    0.507556
column_6    0.389370
dtype: float64

In [41]:
df1['column_2'].std()

0.29071007397199344

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
## If you are getting errors in executing it then explain why.
### [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [50]:
# Assuming df1 is your DataFrame
string_data = "new_value"  # Example string variable
df1.loc[1, 'column_2'] = string_data

In [52]:
mean_column_2 = df1['column_2'].mean()
print("Mean of 'column_2':", mean_column_2)

TypeError: Could not convert string 'new_valuenew_valuenew_valuenew_valuenew_valuenew_value' to numeric


# TypeError: Could not convert string 'new_valuenew_valuenew_valuenew_valuenew_valuenew_value' to numeric

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

### In pandas, window functions are used to perform operations on a set of rows that are related to the current row. These functions allow you to perform calculations across a specified range of rows, which can be useful for tasks such as calculating moving averages, cumulative sums, and other statistical measures that depend on a sliding window of data.

# Q7. Write a code to print only the current month and year at the time of answering this question.
## [Hint: Use pandas.datetime function]

In [62]:
current_date = pd.to_datetime("now")

# Extract the month and year
current_month = current_date.month
current_year = current_date.year

# Print the current month and year
print(f"Current Month: {current_month}, Current Year: {current_year}")

Current Month: 11, Current Year: 2024

In [65]:
current_date

Timestamp('2024-11-09 16:01:11.917710')

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [68]:
def calculate_date_difference():
    # Prompt user for input
    date1_input = input("Enter the first date (YYYY-MM-DD): ")
    date2_input = input("Enter the second date (YYYY-MM-DD): ")

    # Convert input strings to datetime objects
    date1 = pd.to_datetime(date1_input)
    date2 = pd.to_datetime(date2_input)

    # Calculate the difference
    difference = date2 - date1

    # Extract days, seconds from the difference
    days = difference.days
    seconds = difference.seconds

    # Calculate hours and minutes
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60

    # Display the result
    print(f"Difference: {days} days, {hours} hours, and {minutes} minutes")

# Call the function
calculate_date_difference()

Enter the first date (YYYY-MM-DD):  2022-12-01
Enter the second date (YYYY-MM-DD):  2002-12-01

Difference: -7305 days, 0 hours, and 0 minutes

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt

In [72]:
import pandas as pd

# Function to read a CSV file and convert a specified column to categorical
def convert_column_to_categorical():
    # Prompt user for the CSV file path
    file_path = input("Enter the path to the CSV file: ")
    
    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
        print("CSV file loaded successfully.")
    except FileNotFoundError:
        print("Error: The file was not found. Please check the path and try again.")
        return
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
        return
    except pd.errors.ParserError:
        print("Error: There was a problem parsing the file.")
        return

    # Display the DataFrame columns
    print("Available columns in the DataFrame:")
    print(df.columns)

    # Prompt user for the column name to convert
    column_name = input("Enter the column name to convert to categorical: ")

    # Check if the column exists in the DataFrame
    if column_name in df.columns:
        # Convert the specified column to categorical
        df[column_name] = df[column_name].astype('category')
        print(f"The column '{column_name}' has been converted to categorical data type.")
    else:
        print(f"Error: The column '{column_name}' does not exist in the DataFrame.")

    # Display the data types of the DataFrame
    print("\nData types of the DataFrame:")
    print(df.dtypes)

# Call the function
convert_column_to_categorical()

Enter the path to the CSV file:  C:\Users\krishna jaiswal

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\krishna jaiswal'